*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.y2 .btn2{
    border:none;
    outline:none;
    height:50px;
    width:100%;
    background-color: #5fbff9;
    color:white;
    border-radius:4px;
    font-weight:bold;

}

body{
    
    background-image: url(./image/YSANDUN.jpg);
    background-size: cover;
}
.y2 .btn2:hover{
    background:white;
    border:1px solid;
    color:black;

}

.y2 .row1{
    background:white;
    border-radius: 30px;
    box-shadow:12px 12px 22px grey;
}
.y2 .col-lg-7 px-5 pt-5{
    margin-left:100px ;
}
.btnt{
    width:380px;
    display:flex;
}




